.about__wrapper {
    margin-top: -60px;
    grid-column: 5 / span 4;
}

.about__wrapper p {
    font-size: 20px;
    color: white;
    line-height: 2rem;
    letter-spacing: -.126px;
    text-align: justify;
}

@media only screen and (max-width: 1140px) {
    .about__wrapper {
        grid-column: 4 / span 6;
    }
}

@media only screen and (max-width: 830px) {
    .about__wrapper {
        grid-column: 3 / span 8;
    }
}

@media only screen and (max-width: 620px) {
    .about__wrapper {
        grid-column: 2 / span 10;
    }
}

@media only screen and (max-width: 520px) {
    .about__wrapper {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 402px) {
    .about__wrapper {
        margin-top: -20px;
    }

    .about__wrapper p {
        font-size: 15px;
    }
}

