.contact__wrapper {
    margin-top: 260px;
    grid-column: 10 / span 4;
}

.contact__wrapper a{
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

.contact__wrapper a:hover{
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 20px;
    transition: 0.8s;
}

@media only screen and (max-width: 520px) {
    .contact__wrapper {
        margin-top: 340px;
    }
}

@media only screen and (max-width: 402px) {
    .contact__wrapper {
         margin-top: 260px;
         grid-column: 8 / span 4;
    }
}



