.projects__wrapper {
    grid-column: 3 / span 8;
}

.projects__wrapper li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.projects__wrapper li:first-child {
    border-bottom: none;
}

.projects__wrapper li:last-child {
    border-top: none;
}

.projects__wrapper li:hover {
    background: hsla(0, 0%, 100%, 0.2);
    color: white;
}

.projects__wrapper a {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    color: white;
}

.projects__name {
    grid-column: span 3;
}

.projects__date {
    grid-column: span 1;
    display: flex;
    justify-content: center;
}

.projects__code {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 660px) {
    .projects__date {
        display: none;
    }

    .projects__code {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 402px) {
    .projects__name {
        grid-column: span 5;
    }

    .projects__code {
        display: none;
    }
}
